h1{
  color: red;
}

.joker{
  height: 250px;
  width: auto;
}

li{
  list-style: none;
}


.form-div{
  margin: 7px;
}

.search-form{
  display: flex;
  /* border: 1px solid red; */

} 

.list-group li {
  cursor: pointer;
}